[pylint]
disable =
    R0801,
    no-self-argument,
    no-name-in-module,
    too-few-public-methods,
    too-many-arguments,
    too-many-positional-arguments,
    logging-fstring-interpolation,
    fixme,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    raise-missing-from,
    unsubscriptable-object,
    consider-using-with,
    use-dict-literal,
    missing-timeout,
    unspecified-encoding,
    useless-option-value,
    invalid-name,
    import-error

max-line-length = 88
ignored-modules = IPython