fastapi==0.135.3
uvicorn==0.44.0
docker==7.1.0
aiodocker==0.26.0
semver==3.0.4
python-multipart==0.0.26
toml==0.10.2
sqlalchemy==2.0.49
dash==4.1.0
pyjwt==2.12.1
bcrypt==5.0.0
jinja2==3.1.6
cookiecutter==2.7.1
cryptography==46.0.7
