<html>
    <head>
        <title>Daeploy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container h-100 d-flex justify-content-center">
            <div class="jumbotron my-auto">
              <h2>Daeploy Manager</h2>
              <form action="{{ ACTION }}" method="POST">
                  <div class="col-xs-1 mt-5" align="center">
                    <input type="text" name="username" placeholder="Username">
                  </div>
                  <div class="col-xs-1 mt-2" align="center">
                    <input type="password" name="password" placeholder="Password">
                  </div>
                  <div class="col-xs-1 mt-2" align="center">
                    <button class="btn btn-outline-secondary">
                        Login
                    </button>
                  </div>
              </form>
              </div>

         </div>

    </body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
